p {
    font-family: 'Lora', serif;
    font-weight: 500;
    font-size: 60%;
    color: rgba(30, 30, 30, 0.8);
}

h1 {
    font-family: 'Manrope', sans-serif;
    font-size: 60%;
    color: rgba(30, 30, 30, 0.8);
}

h2 {
  font-family: 'Manrope', sans-serif;
}

.page {
    width: 320px;
    margin: auto;
    background-color: white;
}

.jumbotron {
    width: 100%;
    height: 90px;
    padding-top: 70px;
    padding-bottom: 100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: url("./jlf_poster.png");
    background-size:100% 100%;
}

.hello {
    width: 55%;
    text-align: left;
    padding-top: 120px;
}

.logo {
    width: 30%;
    background-color: white;
}

.image {
    width: 100%;
}

.box_panel {
    width: 100%;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.box {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-bottom: 10px;
    text-align: left;
}

.box_text {
    color: #303030;
}
.box_title {
    color: rgba(0, 0, 0, 0.7);
}


.donate_inner {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.donate_message {
    width: 60%;
    margin: auto;
}

.donate_link {
    padding-top: 20px;
    font-size: 14px;
}

.donate_outer {
    width: 100%;
    padding-top: 20px;
    padding-bottom: 50px;
    background-color: white;
    display: flex;
    justify-content: space-around;
}

.message {
    padding-bottom: 25px;
}

.contact {
    width: 70%;
    text-align: left;
    padding-left: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow-wrap: break-word;
}

.pad {
    width: 0;
    background-color: white;
}

.social_icon {
    padding-right: 5px;
    font-size: 48px;
}

.donate {
    width: 30%;
    text-align: left;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.two_panel {
    width: 100%;
    display: flex;
    background-color: cadetblue;
}

.icon_link {
    display: flex;
    align-items: center;
    overflow-wrap: break-word;
}

.j_pic {
    width: 100%;
}

.checkout {
        width: 100%;
        padding-top: 50px;
        margin: auto;
}

.donate_button {
    width: 100px;
    margin: auto;
    margin-top: 25px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgba(255, 0, 0, 0.8);
}

.donate_button:hover {
    background-color: rgba(255, 0, 0, 0.5);
}

.donate_button a {
    color: white;
    text-decoration: none;
    font-weight: 700;
    font-size: 16px;
}

@media screen and (min-width: 768px) {
    p {
        font-family: 'Lora', serif;
        font-weight: 500;
        font-size: 110%;
        color: rgba(30, 30, 30, 0.8);
    }

    h1 {
        font-family: 'Manrope', sans-serif;
        font-size: 130%;
        color: rgba(30, 30, 30, 0.8);
    }

    h2 {
      font-family: 'Manrope', sans-serif;
    }

    .page {
        width: 768px;
        margin: auto;
        background-color: white;
    }

    .jumbotron {
        width: 100%;
        height: 400px;
        padding-top: 70px;
        padding-bottom: 100px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: url("./jlf_poster.png");
        background-size:100% 100%;
    }

    .hello {
        width: 40%;
        text-align: left;
        padding-top: 200px;
    }

    .logo {
        width: 40%;
        background-color: white;
    }

    .image {
        width: 100%;
    }

    .box_panel {
        width: 100%;
        padding-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .box {
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
        margin-top: 20px;
        margin-bottom: 20px;
        text-align: left;
    }

    .box_text {
        color: #303030;
    }
    .box_title {
        color: rgba(0, 0, 0, 0.7);
    }

    .social_icon {
        padding-right: 20px;
        font-size: 48px;
    }

    .donate_inner {
        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .donate_message {
        width: 60%;
        margin: auto;
    }

    .donate_link {
        padding-top: 50px;
        font-size: 32px;
    }

    .donate_outer {
        width: 100%;
        padding-top: 50px;
        padding-bottom: 50px;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }

    .message {
        padding-bottom: 25px;
    }

    .contact {
        width: 50%;
        text-align: left;
        padding-left: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-wrap: break-word;
    }

    .pad {
        width: 10%;
        background-color: white;
    }

    .social_icon {
        padding-right: 5px;
        font-size: 48px;
    }

    .donate {
        width: 30%;
        text-align: left;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .two_panel {
        width: 100%;
        display: flex;
        background-color: white;
    }

    .icon_link {
        display: flex;
        align-items: center;
        overflow-wrap: break-word;
    }

    .j_pic {
        width: 100%;
    }

    .checkout {
        width: 100%;
        padding-top: 50px;
        margin: auto;
    }

    .donate_button {
        width: 300px;
        margin: auto;
        margin-top: 35px;
        border-radius: 25px;
        padding: 15px;
        background-color: rgba(255, 0, 0, 0.8);
    }

    .donate_button:hover {
        background-color: rgba(255, 0, 0, 0.5);
    }

    .donate_button a {
        color: white;
        text-decoration: none;
        font-weight: 700;
        font-size: 24px;
    }
}

@media screen and (min-width: 1200px) {
    p {
      font-family: 'Lora', serif;
      font-weight: 500;
      font-size: 130%;
      color: rgba(30, 30, 30, 0.8);
    }

    h1 {
        font-family: 'Manrope', sans-serif;
        font-size: 200%;
        color: rgba(30, 30, 30, 0.8);
    }

    h2 {
      font-family: 'Manrope', sans-serif;
    }

    .page {
        width: 1200px;
        margin: auto;
    }

    .jumbotron {
        width: 100%;
        height: 700px;
        padding-top: 100px;
        padding-bottom: 100px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-image: url("./jlf_poster.png");
        background-size:100% 100%;
    }

    .hello {
        width: 40%;
        text-align: left;
        padding-top: 200px;
    }

    .logo {
        width: 40%;
        background-color: white;
    }

    .image {
        width: 100%;
    }

    .box_panel {
        width: 100%;
        background-color: white;
        padding-top: 25px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: stretch;
    }

    .box {
        width: 31%;
        background-color: white;
        box-sizing: border-box;
        padding: 20px;
        text-align: left;
    }

    .donate_inner {
        width: 100%;
        background-color: white;
        display: flex;
        flex-direction: column;
    }

    .donate_message {
        width: 60%;
        margin: auto;
    }

     .social_icon {
        padding-right: 20px;
        font-size: 48px;
     }


    .donate_link {
        padding-top: 50px;
        font-size: 32px;
    }

    .donate_outer {
        width: 100%;
        padding-top: 100px;
        padding-bottom: 50px;
        background-color: white;
        display: flex;
        justify-content: space-around;
    }

    .message {
        padding-bottom: 50px;
    }

    .contact {
        width: 35%;
        text-align: left;
        padding-left: 10px;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        overflow-wrap: break-word;
    }

    .pad {
        width: 20%;
        background-color: white;
    }

    .social_icon {
        padding-right: 5px;
        font-size: 48px;
    }

    .donate {
        width: 30%;
        text-align: left;
        background-color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .two_panel {
        width: 100%;
        display: flex;
        background-color: white;
    }

    .icon_link {
        display: flex;
        align-items: center;
        overflow-wrap: break-word;
    }

    .j_pic {
        width: 100%;
    }

    .checkout {
        width: 75%;
        padding-top: 50px;
        margin: auto;
    }
}
